# Navigation
#######################################
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Manipulation
#######################################
alias rm="rm -i"


# Listing
#######################################
# ls options: F = put `/` after folders, h = byte unit suffixes, color! (even with piping to awk)
if [[ "$OSTYPE" == "darwin"* ]]; then
    alias ls='CLICOLOR_FORCE=1 gls -aFh --color'
    alias l='ls'
    alias ll="gls -alF --color"
else
    alias ls='CLICOLOR_FORCE=1 ls -aFh --color'
    alias l='ls'
    alias ll="ls -alF --color"
fi


# List directories
alias ld='ls -l | grep "^d"'


# Git
#######################################
alias g="git"
# git root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'
alias gs='clear; g status'
alias gd='g d'
alias gdc='g d --cached'
alias ga='g add'


if [[ "$OSTYPE" == "darwin"* ]]; then
    # Found Mac OSX
    #

    # setting up the sublime symlink
    if [ ! -f /usr/local/bin/subl ]; then
        ln -sf "/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl" /usr/local/bin/subl
    fi

    # Add an "alert" alias for long running commands.  Use like so:
    #   sleep 10; alert
    alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

    # Recursively delete `.DS_Store` files
    alias cleanup="find . -name '*.DS_Store' -type f -ls -delete"

    # Flush Directory Service cache
    alias flush="dscacheutil -flushcache"

    # Trim new lines and copy to clipboard
    alias trimcopy="tr -d '\n' | pbcopy"

    # Empty the Trash on all mounted volumes and the main HDD
    alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash"

    # use coreutils `ls` if possible…
    command -v gls >/dev/null 2>&1 || alias gls="ls"

    # vim
    alias vim="mvim -v"
    alias vi="mvim -v"

    # uuid generation alias
    alias uuid="uuidgen | tr '[:upper:]' '[:lower:]'"

fi

# be nice
alias hosts='sudo $EDITOR /etc/hosts'
alias c='curl -s -w "CODE: %{http_code}\nSIZE: %{size_download}\nTIME: %{time_total} (DNS: %{time_namelookup}, connect: %{time_connect}, pretransfer: %{time_pretransfer}, redirect: %{time_redirect}, starttransfer: %{time_starttransfer})\n" -D - -o /dev/null'

# `cat` with beautiful colors. requires Pygments installed.
alias ca='pygmentize -O style=monokai -f console256 -g'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ifconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# All the dig info
alias dig="dig +nocmd any +multiline +noall +answer"

# File size
alias fs="stat -f \"%z bytes\""

# tmux alias
alias tmux='tmux -2'

# Docker ps aliases
alias dps='docker ps --format "table {{.ID}}\t{{.Image}}\t{{.Status}}"'
alias dpsa='docker ps --format "table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Ports}}"'
alias dports='docker ps --format "table {{.ID}}\t{{.Image}}\t{{.Ports}}"'

# Docker UCP aliases
alias devv='eval $(<$HOME/code/dotfiles/ucp/devv/env.sh)'
alias devint='eval $(<$HOME/code/dotfiles/ucp/devint/env.sh)'


# Maven aliases
alias mci='mvn clean install -DskipTests'
alias mcp='mvn clean package'
