[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/git"]
	path = bundle/git
	url = git://github.com/tpope/vim-git.git
    ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "pyflakes-pathogen"]
	path = pyflakes-pathogen
	url = git://github.com/mitechie/pyflakes-pathogen.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = git://github.com/fs111/pydoc.vim.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = git://github.com/vim-scripts/pep8.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/vim-scripts/The-NERD-tree.git
    ignore = dirty
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = git://github.com/sontek/rope-vim.git
[submodule "bundle/ruby-debugger"]
	path = bundle/ruby-debugger
	url = git://github.com/astashov/vim-ruby-debugger.git
[submodule "bundle/textile"]
	path = bundle/textile
	url = git://github.com/timcharper/textile.vim.git
    ignore = dirty
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-jquery"]
	path = bundle/vim-jquery
	url = git://github.com/nono/jquery.vim.git
[submodule "bundle/colorsamplerpack"]
	path = bundle/colorsamplerpack
	url = git://github.com/Slashbunny/vim-colorsamplerpack.git
[submodule "bundle/xoria256"]
	path = bundle/xoria256
	url = git://github.com/vim-scripts/xoria256.vim.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9.git
    ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree-ack"]
	path = bundle/nerdtree-ack
	url = git://github.com/tyok/nerdtree-ack.git
[submodule "bundle/vim-django-support"]
	path = bundle/vim-django-support
	url = git://github.com/gerardo/vim-django-support.git
[submodule "bundle/headlights"]
	path = bundle/headlights
	url = git://github.com/mbadran/headlights.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
    ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git://github.com/ornicar/vim-scala.git
[submodule "bundle/vim-html5"]
	path = bundle/vim-html5
	url = git://github.com/othree/html5.vim.git
[submodule "bundle/play2vim"]
	path = bundle/play2vim
	url = git://github.com/gre/play2vim.git
[submodule "bundle/ctrl-p"]
	path = bundle/ctrl-p
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/DBGPavim"]
	path = bundle/DBGPavim
	url = git://github.com/brookhong/DBGPavim.git
    ignore = dirty
[submodule "bundle/Vim-PHP"]
	path = bundle/Vim-PHP
	url = git://github.com/paulyg/Vim-PHP-Stuff.git
    ignore = dirty
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = git://github.com/hallettj/jslint.vim.git
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = git://github.com/wookiehangover/jshint.vim.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = git://github.com/guileen/vim-node.git
[submodule "bundle/vim-nodejs-complete"]
	path = bundle/vim-nodejs-complete
	url = git://github.com/myhere/vim-nodejs-complete.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/UltiSnips"]
	path = bundle/UltiSnips
	url = git://github.com/vim-scripts/UltiSnips.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = https://github.com/juvenn/mustache.vim.git
