"*":
  "autocomplete-plus":
    "useCoreMovementCommands": false
  "exception-reporting":
    userId: "846a0524-31e6-563e-105e-d41e5d64b353"
  welcome:
    showOnStartup: false
    core:
themes: [
    "spacegray-dark-ui"
    "atom-material-syntax"
]
disabledPackages: [
    "symbols-view"

]
  editor:
    invisibles: {}
    fontSize: 13
  "git-plus": {}
  "go-plus": {}
  atomatigit: {}
  tasks: {}
".gohtml.html.text":
  editor:
    showIndentGuide: true
    scrollPastEnd: true
    softWrapAtPreferredLineLength: true
    preferredLineLength: 130
".gotemplate.source":
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    scrollPastEnd: true
    preferredLineLength: 130
".go.source":
  editor:
    tabLength: 8
    softWrapAtPreferredLineLength: true
    preferredLineLength: 130
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: false

