'atom-workspace':
  'ctrl-i':     'cursor-history:next'
  'ctrl-o':     'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'

'.platform-darwin atom-workspace':
  # Atomatigit
  'ctrl-alt-g': 'atomatigit:toggle'
  'ctrl-alt-c': 'atomatigit:complete-commit'

  # Go-Plus
  'cmd-alt-g': 'golang:godef'
  'cmd-alt-shift-g': 'golang:godef-return'

# AutoComplete-Plus
'body atom-text-editor.autocomplete-active':
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-n': 'autocomplete-plus:move-down'
  'pageup': 'autocomplete-plus:page-up'
  'pagedown': 'autocomplete-plus:page-down'
  'home': 'autocomplete-plus:move-to-top'
  'end': 'autocomplete-plus:move-to-bottom'

